body{
	background-image: url(css/back.jpg);
	background-position: center center;
}
.row{
	padding-left:100px;
}
.title{
	padding-left:120px;
	font-family: Courier;
	font-style: oblique;
	font-weight: bold;
	text-shadow: white 2 2 2px;
	text-shadow: grey 1px 1px 0, grey -1px -1px 0, 
                 grey -1px 1px 0, grey 1px -1px 0;
}
.list-group-item:hover {
    background-color: #f2ddc6;
    color: white;
}
.check {
    position: absolute;
    right: 7px;
    top: 7px;
}
.check:hover{
	background: radial-gradient(white, #e3f3ff);
    color: black;
}
.made {
    position: absolute;
    right: 67px;
    top: 7px;
}
.made:hover{
	background: radial-gradient(white, #e3f3ff);
    color: black;
}

