.row{
	padding-left:100px;
}
.title{
	padding-left:120px;
	font-family: Courier;
	font-style: oblique;
	font-weight: bold;
}
.list-group-item:hover {
    background-color: #f2ddc6;
    color: white;
}
.check {
    position: absolute;
    right: 7px;
    top: 7px;
    
}
