.row{
	padding-left:100px;
}
.title{
	padding-left:120px;
}
.list-group-item:hover {
    background-color: #f2ddc6;
    color: white;
}
.check {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
